<%- include("partials/header"); -%>
    <h1>Compose Nutrition</h1>
    <form class="" action="/composenutrition" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="nutritionTitle">
        <label>Nutrition</label>
        <textarea class="form-control" name="nutritionBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>